/*<------------------CSS FILE------------------>*/
.head{
background-color: darkblue;
opacity: 1;
height: 150px;
padding: 15px;
margin: 5px;
}
div table{
width: 80%;
text-align: left;
}
div table th{
font-family: 'Bahnschrift SemiBold';
font-size: 40px;
color: white;
}
/*Menu*/
ul.menu {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
ul.menu li{
float: left;
font-family: 'Verdana';
}
ul.menu li a{
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
ul.menu li a:hover {
background-color: white;
color: black;
}
ul.menu .active {
background-color: red;
}
.intro{
margin-top: 10px;
margin-down: 2px;
background-color: skyblue;
color: red;
text-align: center;
padding: 7px;
font-size: 20px;
}
.end{
background-color: greenyellow;
font-color: white;
opacity: 0.9;
height: 200px;
padding: 10px;
margin: 3px 5px 2px 5px;
}
.lt{
width:100%;
color: blue;
font-size: 21px;
font-family: 'Arial';
}
div a:link{color: darkblue;}
div a:visited{color: darkgreen;}
div a:hover{color: red;}